{% extends "layout.html" %}

{% block title %}
Report
{% endblock %}

{% block main %}
<h1>Report</h1>

<form action="/report" method="POST">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="name" placeholder="Name:">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="date" placeholder="Date:">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div class="row mt-4">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time Checked</th>
                </tr>
            </thead>
            <tbody>
                {% for item in results %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}